
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>To Company HR and Leave Management System</p>
    </div>
    </body>
</html>
